---
layout: default
title: Awards
navbar_title: Awards
---

<div class="row mt-3">
    <div class="col-12">
        <div class="row">
            {% if site.data.display.awards.show_awards %}
                {% assign awards_items = site.awards | where: "category", "awards" | first %}
                {% if awards_items %}
                    <div class="col-12">
                        <div class="my-3 bg-white shadow-sm rounded-sm">
                            <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-award"></i> Awards</h6>
                            <div class="px-3 pb-1">
                                {% assign sorted_items = awards_items.items | sort: "year" | reverse %}
                                {% for item in sorted_items %}
                                    <div class="my-1 d-flex">
                                        <div>{{ item.title }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}

            {% if site.data.display.awards.show_awards_of_students %}
                {% assign student_awards_items = site.awards | where: "category", "awards_of_students" | first %}
                {% if student_awards_items %}
                    <div class="col-12">
                        <div class="my-3 bg-white shadow-sm rounded-sm">
                            <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-user-graduate"></i> Awards of Group Members</h6>
                            <div class="px-3 pb-1">
                                {% assign sorted_items = student_awards_items.items | sort: "year" | reverse %}
                                {% for item in sorted_items %}
                                    <div class="my-1 d-flex">
                                        <div>{{ item.title }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>

